* {
    font-family: 'Share Tech Mono';
    background-color: #333333;
    color: whitesmoke;
}

ul {
    list-style-type: none;
}

.parentContainer {
    width: 100%;
}

.childContainer {
    width: 20%;
    margin: 0 auto;
}

.email {
    top: 0px;
    margin: 0 auto;
}
